{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
<head>
    {% load bootstrap3 %}
     {% bootstrap_css %} 
         {% bootstrap_javascript %}
         {% bootstrap_messages %}
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
</head>
<body>
<header>
    <ul class="topnav">
        <li>
            <a class="active" href="/yummyPI/">Categories</a>
        </li>
        <li>
            <a href="/yummyPI/Recipe">Recipes</a>
        </li>
        <li>
            <a href="#/yummyPI/Password_RESET">Password Reset</a>
        </li>
        <li class="right">
            <a href="/yummyPI/Logout">Logout</a>
        </li>

        <li class="right">
             {% if user.is_authenticated %}
            <a href="#about">Welcome , {{ user.username }} </a>
            {% endif %}
        </li>
    </ul>



    <hr>
</header>
<main>
    {% block content%}
    {% endblock %}
</main>
</body>
