
{% extends 'base.html' %}


{% block content %}

<style>
    table,
    td,
    th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 15px;
    }
</style>

<div class="container">
    <p> Add a category
        <a href="/yummyPI/Category"> Here </a>
    </p>
    <p> Add a Recipe
        <a href="/yummyPI/Recipe"> Here </a>
    </p>
    <div class="panel panel-primary">
        
        <div class="panel panel-heading"> Categories  </div>
        
        <div class="panel panel-body">
           
            <table > 
    
                 {% for category in category_object %}
                <tr>
                    <td>{{ category.category_name }}</td>
                    <td> <a class="fa fa-pencil" data-toggle="modal" data-target="#modal" title="edit item" data-tooltip> View Recipes</a>
                    </td>
                    <td> <a class="fa fa-pencil" data-toggle="modal"  data-target="#modal" title="edit item" data-tooltip> Update</a></td>
                    <td><a class="fa fa-pencil" data-toggle="modal" data-target="#modal" title="edit item" data-tooltip> Delete</a>
                    </td>
                </tr>
                
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}