{% extends 'base.html' %}

{% block content %}
<h2> Log In</h2>
{% if form.errors %}
<p style="color: red"> Username and Password did not match </p>
{% endif %}
<form method="POST" >
    {% csrf_token %}
   <p>
       <label>
       Username
   </label>
   <input type="text" name="username"></p>
    <p>
        <label>
            Password
        </label>
        <input type="password" name="password">
    </p>
    <button type="submit"> Login</button>
    <p>
        Don't have an account yet <a href="/yummyPI/Register/"> Register </a> Here
    </p>

</form>
{% endblock %}