{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
<p style="color: red"> Username and Password did not match </p>
{% endif %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading"> Login a usery</div>
        <div class="panel panel-body">
            <form method="POST">
                {% csrf_token %}
                <p>
                    <label>
                        Username
                    </label>
                    <input type="text" name="username" class="form-control">
                </p>
                <p>
                    <label>
                        Password
                    </label>
                    <input type="password" name="password" class="form-control">
                </p>
                <button type="submit" class="btn btn-primary"> Login</button>
                <p>
                  <br>
                    Don't have an account yet
                    <a href="/yummyPI/Register/"> Register </a> Here
                </p>
            
            </form>
        </div>
    </div>
</div>


{% endblock %}