{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"> Recipes
        </div>
        <div class="panel-body">
        <form method="POST" action="/yummyPI/Recipe/">
            {% csrf_token %} {{form.as_p }}
            {% for category in categories %}
            <br>
            <input type="hidden" name="category_id" value="{{category.id}}">
             {% endfor %}
            <button type="submit" class="btn btn-primary"> create Recipe </button>
        </form>
        </div>
    </div>
</div>
{% endblock %}